.App {
  display: flex;
  font-family: sans-serif;
  height: 100vh;
  /* text-align: center; */
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  background: #fff;
  border: 1px solid #001d7c;
  padding: 10px 14px;
  color: #001d7c;
  cursor: pointer;
  margin: 0 auto;
}

button:hover {
  background: #001d7c;
  color: #fff;
}
